* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://source.unsplash.com/640x360/?sports") center/cover no-repeat;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main {
    width: 400px;
    margin: 50px auto 0 auto;
}

.register {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
    color: #333; /* Adjust text color for better visibility */
}

input[type="submit"] {
    background-color: #e44d26;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #c4311a;
}
